<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
<title>Gettogether</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static "layout.css" %}" />
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="/gettogether_app/">GetTogether</a></h1>
    </div>
    <nav>
      <ul>
        <li><a href="/gettogether_app/events/">Events</a></li>
        <li><a href="/gettogether_app/forum/">Forum</a></li>
        <li><a href="/gettogether_app/games/">Games</a></li>
        <li><a href="/gettogether_app/useful_links/">Useful Links</a></li>
        <li class="last"><a href="#">Profile</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="wrapper row2">
    <div id="container" class="clear">
     <h3 id="forum_index"><a href="#">Forums</a> > <a href="#">Anime</a></h3>
     <a href="#" id="start_thread"><p>Start a thread</p></a>
        <table id="forum">
                <tr>
                  <th class="thread">Thread</th>
                  <th>Topic Starter</th>
                  <th>Date posted</th>
                </tr>
                <tr>
                  <td class="thread">What's your favourite anime?</td>
                  <td>Itachi98</td>
                  <td>27/11/2018</td>
                </tr>
                <tr>
                  <td class="thread">Banana Fish is siiiick</td>
                  <td>Nick28</td>
                  <td>27/11/2018</td>
                </tr>
                <tr>
                  <td class="thread">Naruto is the best anime of all times, prove me wrong!</td>
                  <td>Siama23</td>
                  <td>26/11/2018</td>
                </tr>
                <tr>
                  <td class="thread">Still not over Neji's death.. He's like the coolest ninja!</td>
                  <td >TenTen</td>
                  <td>24/11/2018</td>
                </tr>
                <tr>
                  <td class="thread">Wondering how rushed will be net Tokyo Ghoul's episode.. smh</td>
                  <td>KanekiKen</td>
                  <td>24/11/2018</td>
                </tr>
                <tr>
                  <td class="thread">Name the funniest manga you've read! PLUS ULTRA</td>
                  <td>SonGoku3</td>
                  <td>24/11/2018</td>
                </tr>
                <tr>
                  <td class="thread">Need recommendations, I watched all the anime in my list!</td>
                  <td>Yuki</td>
                  <td>23/11/2018</td>
                </tr>
                <tr>
                  <td class="thread">Shall we start a petition to make 'Shelter' become an anime?</td>
                  <td>Daisy</td>
                  <td>23/11/2018</td>
                </tr>
                <tr>
                  <td class="thread">New to GetTogether, looking for Otaku buddies!</td>
                  <td>Gary</td>
                  <td>22/11/2018</td>
                </tr>
                <tr>
                  <td class="thread">OSHIETE OSHIETE YO SONO SHIKUMI WO....</td>
                  <td>Kirishima</td>
                  <td>20/11/2018</td>
                </tr>
            </table>
            <h4 id="moreforums">More forums</h4>
            <ul class="list">
                <li><a href="#">Chit chat</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">Books & comics</a></li>
                <li><a href="#">Knitting Club</a></li>
                <li><a href="#">Sports</a></li>
                <li><a href="#">Gaming</a></li>
                <li><a href="#">Art</a></li>
            </ul>

            <h4 id="allforums"><a href="#">Go to Forums page</a></h4>
    </div>
            
</div>
<div class="wrapper row3">
        <div id="footer" class="clear">
          <section class="one_third"><a href="#"><h2 class="title">Who are we?</h2></a></section>
          <section class="one_third"><a href="#"><h2 class="title">Need help?</h2></a></section>
          <section class="one_third lastbox"><a href="#"><h2 class="title">Contact us</h2></a></section>
        </div>
      </div>
</body>
</html>
