<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
<title>Gettogether</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static "layout.css" %}" />
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="/gettogether_app/">GetTogether</a></h1>
    </div>
    <nav>
      <ul>
        <li><a href="/gettogether_app/events/">Events</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="/gettogether_app/games/">Games</a></li>
        <li><a href="#">Useful Links</a></li>
        <li class="last"><a href="#">Profile</a></li>
      </ul>
    </nav>
  </header>
</div>

<div class="wrapper row2">
        <div id="container" class="clear">
        <h1 class="event_title">Chess</h1>
        <br>
        <div class="game">
                <div class="ev_details">
                    <iframe src="https://fritz.chessbase.com" style="width:600px;height:600px"></iframe>
                    <!-- <img src="{% static "chess.jpg" %}" width="500" height="500" alt="cinema" /> -->
                    
                </div>
                <div class="text_chat">
                    <p class="notification">Claire just joined the game</p>
                    <p class="notification">Hannah just joined the game</p>
                    <p class="users_chat" font-size="12px"><b>Claire:</b> Hey Hannah, thanks for accepting my request! <br> It's your turn :)</p>
                    <p class="users_chat"><b>Hannah:</b> Hi! Nice to meet you :) <br> Be patient, I'm not good at chess!</p>
                    <p class="users_chat"><b>Claire:</b> I can teach you! <br> Are you going to the chess club meeting next tuesday?</p>
                    <p class="users_chat"><b>Hannah:</b> I think I will!</p>
                    <img src="{% static "chat.jpg" %}" id="chat_text_field" width="350" height="35" alt="chat" />
                </div>
                        <!-- <img src="{% static "cinemamap.jpg" %}" width="400" height="250" alt="cinema" />
                        <a href="#" class="join"><p>JOIN</p></a> -->
        </div>

          <div id="homepage">
            
            <section><h1>Other popular games</h1></section>
            <section id="services" class="clear">
              <article class="one_third">
                <figure><img src="{% static "scrabble.jpg" %}" width="300" height="300" alt="cinema" />
                  <figcaption>
                    <a href="#"><h2>Scrabble</h2></a>
                  </figcaption>
                </figure>
              </article>
              <article class="one_third">
                <figure><img src="{% static "monopoly.jpg" %}" width="300" height="300" alt="art">
                  <figcaption>
                    <a href="#"><h2>Monopoly</h2></a>
                  </figcaption>
                </figure>
              </article>
              <article class="one_third lastbox">
                <figure><img src="{% static "hearts.jpg" %}" width="300" height="300" alt="books">
                  <figcaption>
                    <a href="#"><h2>Hearts</h2></a>
                  </figcaption>
                </figure>
              </article>
            </section>
            <section id="intro" class="last clear">
                  <a href="#"><h6 class="all_games">All games</h6></a>
            </section>
          </div>
        </div>

<div class="wrapper row3">
        <div id="footer" class="clear">
          <section class="one_third"><a href="#"><h2 class="title">Who are we?</h2></a></section>
          <section class="one_third"><a href="#"><h2 class="title">Need help?</h2></a></section>
          <section class="one_third lastbox"><a href="#"><h2 class="title">Contact us</h2></a></section>
        </div>
      </div>
</body>
</html>
