<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
<title>Gettogether</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="{% static "layout.css" %}" />
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">GetTogether</a></h1>
    </div>
    <nav>
      <ul>
        <li><a href="/gettogether_app/events/">Events</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="/gettogether_app/games/">Games</a></li>
        <li><a href="#">Useful Links</a></li>
        <li class="last"><a href="#">Profile</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="wrapper row2">
  <div id="container" class="clear">
    <section id="slider"><a href="#"><img src="{% static "people.jpg" %}" alt="Picture of people socializing" /></a></section>
    <div id="homepage">
      <section><h5>We believe that anything you do alone, you can do it much better in company. 
          Engaging in social activity helps you phisically and mentally, so let's Gettogether!</h5></section>
      <section><h1>Useful Links</h1></section>
      <section id="services" class="clear">
        <article class="one_third">
          <figure><a href="https://www.samh.org.uk/" target="_blank"><img src="{% static "SAMH.jpg" %}" width="290" height="180" alt="SAMH" /></a>
            <figcaption>
              <h2>Scotthish Association for Mental Health</h2>
              <p>Looking to volunteer and give your time or maybe fundraising is your thing? Or want to share your story? We are here to support you when you decide!.</p>
              <footer class="more"><a href="#">Read More &raquo;</a></footer>
            </figcaption>
          </figure>
        </article>
        <article class="one_third">
          <figure><a href="http://www.healthscotland.scot/health-topics/mental-health-and-wellbeing" target="_blank"><img src="{% static "NHS.jpg" %}" width="290" height="180" alt="NHS Mental health"></a>
            <figcaption>
              <h2>NHS Scotland mental Health</h2>
              <p>Poor mental health is an important public health challenge and significant mental health inequalities exist in Scotland. Improving the mental health of the population is a national priority because improving mental health and wellbeing is recognised as having a positive effect on many different aspects of society.</p>
              <footer class="more"><a href="#">Read More &raquo;</a></footer>
            </figcaption>
          </figure>
        </article>
        <article class="one_third lastbox">
          <figure><a href="https://www.mentalhealth.org.uk/campaigns/mental-health-awareness-week" target="_blank"><img src="{% static "MHAwareness.jpg" %}" width="290" height="180" alt="Mental Health Awareness"></a>
            <figcaption>
              <h2>Mental Health Awareness</h2>
              <p>This year for Mental Health Awareness Week (14-20 May), we focused on stress. Research has shown that two thirds of us experience a mental health problem in our lifetimes, and stress is a key factor in this.</p>
              <footer class="more"><a href="#">Read More &raquo;</a></footer>
            </figcaption>
          </figure>
        </article>
      </section>
      <section id="intro" class="last clear">
            <a href="#"><h6>Other sites</h6></a>
      </section>
    </div>
  </div>
</div>
<div class="wrapper row3">
  <div id="footer" class="clear">
    <section class="one_third"><a href="#"><h2 class="title">Who are we?</h2></a></section>
    <section class="one_third"><a href="#"><h2 class="title">Need help?</h2></a></section>
    <section class="one_third lastbox"><a href="#"><h2 class="title">Contact us</h2></a></section>
  </div>
</div>
</body>
</html>
