html{overflow-y:scroll;}

body{margin:0; padding:0; font-size:15px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, "Times New Roman", Times, serif; color:#919191; background-color:#232323;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

code{font-weight:normal; font-style:normal; font-family:Georgia, "Times New Roman", Times, serif;}

.fl_left{float:left;}
.fl_right{float:right;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

address, aside, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}

q{display:block; padding:0 10px 8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:center;}

.row1{color:#2aafe4; background-color:#2aafe4;} 
.row1 a{color:#080808; background-color:#2aafe4;}
.row2{color:#979797; background-color:#FFFFFF;}
.row2 a{color:#FF9900; background-color:#FFFFFF;}
.row3{color:#989898; background-color:#2aafe4;}
.row3 a{color:#FF9900; background-color:#2aafe4;}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer{display:block; width:960px; margin:0 auto;}

nav ul{margin:0; padding:0; list-style:none;}

h1, h2, h3, h4, h5{margin:0; padding:0; font-size:32px; font-weight:normal; color:#080808; line-height:normal;}
h5{margin:0; padding:0; font-size:22px; font-weight:normal; color:#979797; line-height:normal;}
h6{margin:0; padding:0; font-size:20px; font-weight:normal; color:#000000; line-height:normal;}

address{font-style:normal;}

blockquote, q{display:block; padding:8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:Georgia,"Times New Roman",Times,serif;}

.one_third, .two_third, .three_third{display:block; float:left; margin:0 30px 0 0;}
.one_third{width:300px;}
.two_third{width:630px;}
.three_third{width:960px;float:none; margin-right:0; clear:both;}

.lastbox{margin-right:0;}


/*----------------------------------------------Header-------------------------------------*/

#header{padding:20px 0;}

#header #hgroup{float:left;}
#header #hgroup h1, #header #hgroup h2{font-weight:normal; font-style:normal; text-transform:none;}
#header #hgroup h1{font-size:36px;}
#header #hgroup h2{font-size:13px;}

#header nav{display:block; float:right; padding:20px 0; color:#C0BAB6; background-color:#2aafe4;}
#header nav ul{padding:0 20px;}
#header nav li{display:inline; margin-right:25px; text-transform:uppercase;}
#header nav li.last{margin-right:0;}
#header nav li a{color:#000000; background-color:#2aafe4;}
#header nav li a:hover{color:#FF9900; background-color:#2aafe4;}
#new_event{display:block; float:right; font-size: 20px}

#container{padding:30px 0;}
#container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right;}


#container #homepage{display:block; width:100%; line-height:1.8em;}

#container #homepage #services article figure img{margin:0 0 15px 0; padding:4px; border:1px solid #D6D6D6;}
#container #homepage #services article figure h2{font-size:14px; font-weight:bold;}

#container #homepage #intro article figure img{float:right; margin:0 0 10px 0; padding:4px; border:1px solid #D6D6D6;}
#container #homepage #intro article figure figcaption{float:left; width:460px;}


/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:30px 0; font-size:12px; line-height:1.4em;}
#footer section h2.title{padding:0; color:#000000; background-color:#2aafe4; font-size:12px; font-weight:bold; text-transform:uppercase;}

/*------------------------------------------Events, Game and forum page-------------------------------------*/

.ev, .game{width:100%; display:block; float: left; padding:4px; border:1px solid; margin:0 1000px 30px 0;}
.event_title{padding:0; font-size:40px; font-weight:normal; color:#080808; line-height:normal;text-align: left;}
.event_p_title{padding:0; font-size:25px; font-weight:normal; color:#080808; line-height:normal;margin:10px 0 20px 0; }

.date{width:50%; float: right;}
.ev_details{width:50%; float: left;}
/* .chess{width:50%; float: left;} */
.join_date{width: 100%;}
.map{width:50%; float: left;margin: 40px 0 0 0;}
.join{width:50%; float: left; font-size: 20px; color:#FF9900;}
.all_games{font-size: 30px;color:#FF9900;}
.text_chat{width:50%; float: left;}
.notification{margin:0 0 0 0; text-align: right;}
.users_chat{color: #000000; text-align: right;}
.list{text-align: left; font-size: 20px;}
.thread{text-align: left;}

#moreforums{text-align: left;}
#chat_text_field{margin:200px 0 0 0;float:right;}
#forum {border-collapse: collapse; width: 100%; margin: 20px 0 40px 0;}
#forum td, #forum th {border: 1px solid #ddd; padding: 8px;}
#forum tr:nth-child(even){background-color: #f2f2f2;}
#forum tr:hover {background-color: #ddd;}
#forum th {padding-top: 12px; padding-bottom: 12px; text-align: center; background-color: #FF9900; color: white;}
#forum_index{text-align: left; margin:20px 0 0 0}
#start_thread{text-align: right;font-size: 20px;}

/* .game{width:100%; display:block; float: left; padding:4px; border:1px solid; margin:0 1000px 30px 0;} */